<p>
  <b>R:</b>
  <%=h @resposta.R_id %>
</p>

<p>
  <b>At:</b>
  <%=h @resposta.AT_id %>
</p>

<p>
  <b>A:</b>
  <%=h @resposta.A_id %>
</p>

<p>
  <b>P:</b>
  <%=h @resposta.P_id %>
</p>

<p>
  <b>R resposta:</b>
  <%=h @resposta.R_resposta %>
</p>

<p>
  <b>Al:</b>
  <%=h @resposta.AL_id %>
</p>


<%= link_to 'Edit', edit_resposta_path(@resposta) %> |
<%= link_to 'Back', respostas_path %>
